

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 204);
    color: hsl(0 100% 100% /85%);
    transition: 0.6s ease;
  }


  canvas {
    position: absolute;
  }

  body.dark {
    background-color: rgb(34, 34, 43);
    color: rgb(34, 34, 43);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    margin-top: 50px;
    width: 800px;
    height: 600px;
  }

  .c1 {
    font-size: 10rem !important;
  }

  .darkmode {
    display: flex;
    flex-direction: row;
  }

  .offcanvasNavbar{
    background-color: #07f070;
  }

  .toggle {
    background-color: rgb(59, 59, 57);
    width: 3.5rem;
    height: 2rem;
    border-radius: 20rem;
    cursor: pointer;
    position: absolute;
  }

  .toggle.active {
    background-color: rgb(59, 59, 57);
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white;
    transition: all 0.18s ease-in;
  }

  .toggle.active .indicator {
    transition: all 0.18s ease-in;
    left: 2rem;
    background: linear-gradient(to bottom right, #434343 0% black 100%);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
      inset 0 4px 10px rgba(250, 250, 250, 0.1),
      inset 0 -4px 10px rgba(250, 250, 250, 0.1);
  }
  .menu {
    width: 98%;
    height: 40px;
  }

  .title {
    font-family: cursive;
    font-weight: bold;
  }

  #footer {
    height: 3rem;
    display: flex;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    justify-content: center;
    background-color: rgb(25,135,84);
    color: white;
  }

  #footer span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;

  }

  .loader {
    margin: 0;
    position: fixed;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 130%;
  }

  .disappear {
    animation: vanish 3s forwards;
  }

  @keyframes vanish {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .navitems{
    font-size: 1.3rem;
    padding-bottom: 2rem;
    color: white;
  }
  
  #themeText{
    padding-left: 5rem;
  }

  #icon {
    height: 3rem;
    background-color: #f00707;
    border-radius: 50%;
    margin: 1rem;
  }

  .switch {
    display: none;
  }

  #cam-notice {
    position: absolute;
    z-index: -1;
    color: #434343;
  }

  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }

  video{
    width: 720px;
    height: 560px; 
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4px !important;
  }
  .foot h3{
    color:brown;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
  }
  .subscribe-form{
    text-align: center;
  }
  .subscribe-form h3{
    color:brown;
    font-weight: bold;
    margin-bottom: 28px;
    font-size: 25px;
    text-transform: uppercase;
  }
  .icons {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  .icons a{
    text-decoration: none;
  }
  .icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 6px !important;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #33353d;
    color: white;
    display: flex;
    flex-direction: row !important;
    text-align: center;
    transition: all 0.2s linear;
    padding-left: 12px;
  }
  .msg i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    background-color: #33353d;
    color: white !important;
    display: flex;
    flex-direction: row !important;
    text-align: center;
    transition: all 0.2s linear;
    padding-left: 9px;
  }
  button{
    border: none ;
    background: transparent;
  }
  .twitter :hover {
    background-color: #00aced;
    color: #fff;
  }
  
  .linkedin :hover {
    background-color: #007bb6;
    color: #fff;
  }
  
  .instagram :hover {
    background-color: #ea2c59;
    color: #fff;
  }
  .email :hover {
    background-color:#623005;
    color: white;
  }
  
  .footer1 {
    /* background-color: rgb(25,135,84); */
    background-image: linear-gradient(to bottom, #07f070, #8793bb);;
    display: flex;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .left{
       text-align: center;
       width: 40%;
  }
  .left p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: black !important;
  }
  
  .left h4{
    margin-top: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
  }
  .footer-content h3{
    color:brown;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
  }
  
  .footer-content h2{
    color:brown;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 700px){
    .container{
        height: 400px !important;
        width: 400px !important;
    }

    video{
        width: 400px !important;
        height: 400px !important;
      }

      #footer span{
        font-size: 70%;
      }
      .footer1{
        flex-direction: column;
      }
      .footer1 h3{
        font-size: 120%;
      }
      .footer1 p{
        font-size: 90%;
      }
      .left{
        width: 100%;
      }
      .foot h3{
        margin-bottom: -5px;
      }
      .subscribe-form h3{
        margin-bottom: 10px !important;
      }
      .subscribe-form{
        padding-bottom: 40px;
      }
  }@media screen and (max-width: 500px){
    #footer span{
      font-size: 9px;
      line-height: 1rem;
    }

    .container{
      margin-top: 7rem !important;
    }
  }
  @media screen and (max-width: 400px){
    .container{
        height: 270px !important;
        width: 270px !important;
    }

    video{
        width: 270px !important;
        height: 270px !important;
      }
      #cam-notice{
        font-size: small;
      }
  }
  
      #footer span{
        font-size: small;
      }

  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: green;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: white;
  }

