body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 204);
    color: hsl(0 100% 100% /85%);
    transition: 0.6s ease;
}


canvas {
    position: absolute;
}

body.dark {
    /*background-color: rgba(235, 240, 249, 0.85);*/
    background-color: rgb(34, 34, 43);
    color: rgb(34, 34, 43);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    margin-top: 50px;
    width: 800px;
    height: 600px;
}

.darkmode {
    display: flex;
    flex-direction: row;
}

.toggle {
    background-color: hsl(0 100% 100% /0.2);
    width: 3.5rem;
    height: 2rem;
    border-radius: 20rem;
    cursor: pointer;
    position: relative;

    /* box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1); */

    /* border: 2px solid red; */
    background-color: white;
    right: 250px;
    margin-top: 5px;
}

.toggle.active {
    background-color: rgb(59, 59, 57);
    /* box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 10px; */

}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #eaeaea 0%, #f9f9f9 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), inset 0 2px 6px rgba(0, 0, 0, 0.1),
        inset 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.toggle.active .indicator {
    left: 2rem;
    background: linear-gradient(to bottom right, #434343 0% black 100%);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
        inset 0 4px 10px rgba(250, 250, 250, 0.1),
        inset 0 -4px 10px rgba(250, 250, 250, 0.1);
}

section.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 67px;
    background-color: green;
}

.menu {
    background-color: green;
    width: 98%;
    height: 40px;
}

.nav {
    position: relative;
    right: 260px;
}

.nav-item .nav-link {
    color: rgb(251, 248, 248);
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.nav-item .nav-link .mode {
    color: rgb(251, 248, 248);
    font-weight: bold;
    font-family: cursive;
    font-size: 16px;
}

.title {
    font-family: cursive;
    font-weight: bold;
}

.foot {
    width: 100%;
    height: 3.5rem;
    background-image: linear-gradient(to bottom, #07f070, #8793bb);
    color: rgb(29, 41, 51);
    margin-top: auto;
}

.foot p {
    font-size: 1.2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 3.5rem;
}